<div class="container text-center">
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" style="width:100%" type="button" id="button-addon2" (click)="getInfo()">Parse Page</button>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div *ngIf="timeRetrieved" class="card-body">
              <h5 class="card-title">Page Results</h5>
              <p class="card-text">Retrieved at {{timeRetrieved}}:</p>
              <mat-accordion>
              <mat-expansion-panel *ngFor="let item of [images,videos,audios]" [hidden]="item.value.length === 0">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{item.title}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <div class="simple-button" [hidden]="item.value.length === 0" (click)="$event.stopPropagation(); download(item.title)">
                    <mat-icon>
                      file_download
                    </mat-icon>
                    <mat-label>
                      Download
                    </mat-label>
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <mat-selection-list [id]="item.title" multiple>
                    <!-- <mat-checkbox class="mat-list-option"
                    *ngIf="item.value.length > 1"
                    [(ngModel)]="item.selectAll"
                    (click)="$event.stopPropagation()">
                      Select All
                    </mat-checkbox> -->
                    <mat-list-option *ngFor="let src of item.value" [(selected)]="src.selected" [value]="src.value">
                    {{ src.value }}
                    </mat-list-option>
                  </mat-selection-list>
                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>
            </div>
          </div>
        </div>
    </div>
</div>
